attrs==19.3.0
bandit==1.6.2
beautifulsoup4==4.9.0
bs4==0.0.1
click==7.1.2
Flask==1.1.2
gitdb==4.0.5
GitPython==3.1.2
httplib2==0.18.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mock==4.0.2
more-itertools==8.2.0
packaging==20.3
pbr==5.4.5
pep8==1.7.1
pluggy==0.13.1
py==1.8.1
pycodestyle==2.6.0
pyparsing==2.4.7
pytest==5.4.2
pytest-mock==3.1.0
PyYAML==5.3.1
redis==3.5.1
six==1.14.0
smmap==3.0.4
soupsieve==2.0
stevedore==1.32.0
wcwidth==0.1.9
Werkzeug==1.0.1
